#wing {
    animation: wingSwing 0.6s infinite;
    transform-origin: center;
}

#heart1 {
    animation: heart1Scale 0.6s infinite;
}

#heart2 {
    animation: heart2Scale 0.6s infinite;
}

@keyframes heart1Scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes heart2Scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes wingSwing {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}