<div class="nav-container">
    <div class="nav-home">
        <div class="home"
             (click)="navigate('/home')">HOME</div>
    </div>
    <div class="nav-items">
        <div class="nav-item" id="resume"
             (click)="navigate('/resume', 'resume')">Resume</div>
        <div class="nav-item" id="projects">Projects</div>
        <div class="nav-item"
             (click)="navigateLink('https://github.com/ddanelynn')">Github</div>
        <div class="nav-item"
             (click)="navigateLink('https://www.linkedin.com/in/danelynnding/')">LinkedIn</div>
        <div class="nav-item"
             (click)="navigateLink('https://danelynnding.wixsite.com/portfolio')">Photography</div>
    </div>
</div>
