<div class="projects-container">
    <div class="project-card"
        (click)="navigateLink('https://devpost.com/software/the-most-annoying-reminder')">
        <img class="project-card__image" src="../assets/projects/annoying-reminder.png" alt="project image">
        <div class="project-card__title">The Most Annoying Reminder</div>
        <div class="project-card__description">Mobile App • React Native • Firebase</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/angular-scroll-animation')">
        <img class="project-card__image" src="../assets/projects/scroll-animation.png" alt="project image">
        <div class="project-card__title">Scroll Animation</div>
        <div class="project-card__description">Web Frontend • Angular • Gsap</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/Posetography')">
        <img class="project-card__image" src="../assets/projects/posetography.png" alt="project image">
        <div class="project-card__title">Posetography</div>
        <div class="project-card__description">Mobile App iOS • Swift • Firebase</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://devpost.com/software/safe-haven-jwv1ek')">
        <img class="project-card__image" src="../assets/projects/safe-haven.png" alt="project image">
        <div class="project-card__title">Safe Haven</div>
        <div class="project-card__description">Mobile App • React Native • Firebase</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://devpost.com/software/lifehack-y950kg')">
        <img class="project-card__image" src="../assets/projects/jioleh.png" alt="project image">
        <div class="project-card__title">Jio Leh</div>
        <div class="project-card__description">Mobile App • React Native • Firebase</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/NameIt')">
        <img class="project-card__image" src="../assets/projects/name-it.png" alt="project image">
        <div class="project-card__title">Name It</div>
        <div class="project-card__description">Mobile App iOS • Swift • Machine Learning</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://devpost.com/software/secret-santa-l6r1ib')">
        <img class="project-card__image" src="../assets/projects/secret-santa.png" alt="project image">
        <div class="project-card__title">Secret Santa</div>
        <div class="project-card__description">Web App • ReactJS • MongoDB</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/animated-navbar')">
        <img class="project-card__image" src="../assets/projects/animated-navbar.png" alt="project image">
        <div class="project-card__title">Animated Navbar</div>
        <div class="project-card__description">Animated Web Navbar • Angular • Gsap</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/MovingTrumpAR')">
        <img class="project-card__image" src="../assets/projects/trump-ar.png" alt="project image">
        <div class="project-card__title">Moving Trump</div>
        <div class="project-card__description">Mobile Game • Unity • AR</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/snakeeats')">
        <img class="project-card__image" src="../assets/projects/snake-eats.png" alt="project image">
        <div class="project-card__title">Snake Eats</div>
        <div class="project-card__description">Web Game • ReactJS • Firebase</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/ddanelynn/mern-team-manager')">
        <img class="project-card__image" src="../assets/projects/task-manager.png" alt="project image">
        <div class="project-card__title">Team Manager</div>
        <div class="project-card__description">Web App • ReactJS • MongoDB</div>
    </div>

    <div class="project-card"
    (click)="navigateLink('https://github.com/pasta-express/codeexp-app')">
        <img class="project-card__image" src="../assets/projects/we-share.png" alt="project image">
        <div class="project-card__title">We Share</div>
        <div class="project-card__description">Mobile App • React Native • Firebase</div>
    </div>
</div>
