.website-container {
    app-navbar-mobile {
        display: none;
    }

    @media only screen and (max-width: 870px) {
        app-navbar {
            display: none;
        }
    
        app-navbar-mobile {
            display: block;
        }
    }
}