.resume-container {
    display: flex;
    flex-direction: column;
    padding: 70px 70px;
    padding-bottom: 30px;
    position: relative;
    .tract {
        position: absolute;
        top: 10vw;
        left: 5%;
        width: 90%;
        z-index: -1;
        transform: scaleX(-1);
        opacity: 0;
    }
    .flower-set {
        position: absolute;
        right: 30px;
        top: 40px;
        transform: rotate(55deg);
    }
    .flower-scroll {
        position: absolute;
        right: 70px;
        top: 110px;
        z-index: 10;
        &:hover {
            opacity: 0;
            transition: 1s;
        }
    }
    .introduction-block {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .profile {
            width: 250px;
            height: 250px;
            margin-right: 50px;
            cursor: pointer;
            &:hover {
                transform: scale(1.02);
            }
        }
        .introduction-text {
            &__title {
                font-size: 40px;
                margin-bottom: 10px;
                font-weight: 600;
            }
            &__content {
                font-size: 24px;
                line-height: 36px;
                text-align: justify;
                a:link {
                    color: #715D62;
                }
                a:visited {
                    color: #715D62;
                }
                a:hover {
                    color: #FFA4B8;
                }
            }
        }
    }
    .resume-block {
        display: flex;
        margin-bottom: 30px;
        &__title {
            font-size: 36px;
            font-weight: 600;
            margin: 40px;
            width: 300px;
        }
        &__content {
            color: #968186;
            background-color: white;
            width: calc(100% - 80px);
            border-radius: 30px;
            padding: 17px 40px 25px 40px;
            font-size: 22px;
            line-height: 35px;
            position: relative;
            .plane {
                position: absolute;
                bottom: -50px;
                left: -100px;
            }
            .star {
                position: absolute;
                bottom: -40px;
                right: -20px;
                z-index: 2;
            }
            &__header {
                font-weight: 600;
                color: #656F5E;
                margin-bottom: 4px;
                margin-top: 8px;
                font-size: 24px;
            }
            &__role {
                font-style: italic;
                margin-bottom: 4px;
            }
        }
    }
    .line {
        width: 100%;
        height: 4px;
        background-color: #715D62;
        border-radius: 2px;
        margin-bottom: 30px;
    }
    .tech-tools {
        display: flex;
        margin-bottom: 200px;
        &__title {
            font-size: 36px;
            font-weight: 600;
            margin: 40px;
            margin-top: 20px;
            margin-right: 20px;
            width: 300px;
        }
        &__content {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            align-content: flex-start;
            .flip-box {
                width: 180px;
                height: 66px;
                margin-right: 15px;
                margin-bottom: 15px;
                perspective: 1000px;
                &:hover .tech-tools-stack {
                    transform: rotateY(180deg);
                }
                .tech-tools-stack {
                    position: relative;
                    transform-style: preserve-3d;
                    transition: transform 0.5s;
                    .language-tag {
                        width: 180px;
                        height: 66px;
                        background-color: #FFF0A6;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 20px;
                        box-shadow: 4px 4px 4px rgba(113, 93, 98, 0.56);
                        font-size: 24px;
                        font-weight: 500;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                    .language-tag-back {
                        width: 180px;
                        height: 66px;
                        position: absolute;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        top: 0;
                        left: 0;
                        .language-icon {
                            width: 80px;
                            top: -5px;
                            left: 50px;
                            border-radius: 10px;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 870px) {
    .resume-container {
        padding: 50px 30px 40px;
        .introduction-block {
            flex-direction: column;
            margin-bottom: 15px;
            .profile {
                margin-bottom: 20px;
                margin-right: 0;
                width: 200px;
                height: 200px;
            }
            .introduction-text {
                &__title {
                    font-size: 32px;
                    text-align: center;
                }
                &__content {
                    font-size: 20px;
                    line-height: 28px;
                }
            }
        }
        .resume-block {
            flex-direction: column;
            margin-bottom: 15px;
            &__title {
                font-size: 28px;
                margin: 10px;
            }
            &__content {
                font-size: 20px;
                line-height: 28px;
            }
        }
        .line {
            display: none;
        }
        .tech-tools {
            display: flex;
            flex-direction: column;
            &__title {
                font-size: 28px;
                margin: 10px;
            }
            &__content {
                .flip-box {
                    width: 140px;
                    height: 46px;
                    .tech-tools-stack {
                        .language-tag {
                            width: 140px;
                            height: 46px;
                            border-radius: 10px;
                            font-size: 20px;
                        }
                        .language-tag-back {
                            width: 140px;
                            height: 46px;
                            .language-icon {
                                width: 50px;
                                top: 0px;
                                left: 45px;
                            }
                        }
                    }
                }
            }
        }
    }
    .flower-set {
        display: none;
    }
    .flower-scroll {
        display: none;
    }
    .plane {
        display: none;
    }
}

@media only screen and (max-width: 540px) {
    .resume-container {
        padding: 50px 20px 20px;
        .tech-tools {
            margin-bottom: 100px;
            &__content {
                justify-content: center;
            }
        }
    }
    .star {
        transform: scale(0.8);
    }
}