<div class="resume-container">
    <div class="introduction-block">
        <img class="profile" src="../assets/profile-pic.png" alt="Profile"/>
        <div class="introduction-text">
            <div class="introduction-text__title">
                Hello, I am Danelynn!
            </div>
            <div class="introduction-text__content">
                I am a final year student studying computer science and business administration at National University of Singapore. 
                I am currently pursuing a specialisation on AI in Bachelors of Computer Science and a specialisation on Business Analytics in Bachelors of Business Administration. 
                Computer Science will be the focus of my future career path. I develop websites, games and mobile apps. 
                Apart from work, I love travelling and taking photos. 
                Feel free to check out my photography instagram account @photoshooding. 
                In my free time, I do crafts and acrylic painting. 
                I also play football and boulder at various climbing gyms in Singapore. 
                You can reach out to me at ddanelynn@gmail.com.
            </div>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Education</div>
        <div class="resume-block__content">
            <div class="resume-block__content__header">National University of Singapore</div>
            <div class="resume-block__content__role">Bachelor of Computer Science; Bachelor of Business Administration</div>
            <ul>
                <li class="resume-block__content__elaboration">University Scholars Programme</li>
                <li class="resume-block__content__elaboration">NUS Overseas College Israel</li>
                <ul>
                    <li class="resume-block__content__elaboration">Awarded full NUS Venture Initiation Programme grant of SGD 10K</li>
                </ul>
                <li class="resume-block__content__elaboration">NUS Soccer Female Team Vice-captain</li>
                <ul>
                    <li class="resume-block__content__elaboration">2019 Singapore University Games Women’s Football First Runner Up</li>
                </ul>
            </ul>
            
            <div class="resume-block__content__header">Raffles Institution</div>
            <div class="resume-block__content__role">GCE ‘A’ Level, 6 distinctions</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Experience</div>
        <div class="resume-block__content">
            <div class="resume-block__content__header">Google</div>
            <div class="resume-block__content__role">Software Engineer Intern, May 2022 - Aug 2022</div>
            <ul>
                <li class="resume-block__content__elaboration">University Scholars Programme</li>
                <li class="resume-block__content__elaboration">NUS Overseas College Israel</li>
                <li class="resume-block__content__elaboration">NUS Soccer Female Team Vice-captain</li>
                <li class="resume-block__content__elaboration">2019 Singapore University Games Women’s Football First Runner Up</li>
            </ul>
            
            <div class="resume-block__content__header">NodeFlair</div>
            <div class="resume-block__content__role">Software Engineer Intern, Aug 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>

            <div class="resume-block__content__header">ByondXR</div>
            <div class="resume-block__content__role">Software Engineer Intern, Jul 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Projects</div>
        <div class="resume-block__content">
            <div class="resume-block__content__header">Google</div>
            <div class="resume-block__content__role">Software Engineer Intern, May 2022 - Aug 2022</div>
            <ul>
                <li class="resume-block__content__elaboration">University Scholars Programme</li>
                <li class="resume-block__content__elaboration">NUS Overseas College Israel</li>
                <li class="resume-block__content__elaboration">NUS Soccer Female Team Vice-captain</li>
                <li class="resume-block__content__elaboration">2019 Singapore University Games Women’s Football First Runner Up</li>
            </ul>
            
            <div class="resume-block__content__header">NodeFlair</div>
            <div class="resume-block__content__role">Software Engineer Intern, Aug 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>

            <div class="resume-block__content__header">ByondXR</div>
            <div class="resume-block__content__role">Software Engineer Intern, Jul 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="tech-tools">
        <div class="tech-tools__title">Tech Tools</div>
        <div class="tech-tools__content">
            <div class="language-tag">JavaScript</div>
            <div class="language-tag">Python</div>
            <div class="language-tag">Java</div>
            <div class="language-tag">ReactJs</div>
            <div class="language-tag">JavaScript</div>
            <div class="language-tag">JavaScript</div>
            <div class="language-tag">JavaScript</div>
            <div class="language-tag">JavaScript</div>
        </div>
    </div>
    <div class="footer">
        <img class="footer__heart" src="../assets/heart.png" alt="heart"/>
        <div class="footer__text">Built with Love</div>
    </div>
</div>
