<div class="resume-container">
    <div class="tract">
        <app-tract></app-tract>
    </div>
    <app-flower-scroll id="app-flower-scroll" class="flower-scroll"></app-flower-scroll>
    <app-flower-set class="flower-set"></app-flower-set>
    <div class="introduction-block">
        <img class="profile" src="../assets/profile-pic.png" alt="Profile"
        (click)="navigate('/home')"/>
        <div class="introduction-text">
            <div class="introduction-text__title">
                Hello, I am Danelynn!
            </div>
            <div class="introduction-text__content">
                I am a final year student studying computer science and business administration at National University of Singapore. 
                I am currently pursuing a specialisation on AI in Bachelors of Computer Science and a specialisation on Business Analytics in Bachelors of Business Administration. 
                Computer Science will be the focus of my future career path. I develop websites, games and mobile apps. 
                Apart from work, I love travelling and taking photos. 
                Feel free to check out my photography instagram account <a href="https://www.instagram.com/photoshooding" target="blank">@photoshooding</a>. 
                In my free time, I do crafts and acrylic painting. 
                I also play football and boulder at various climbing gyms in Singapore. 
                You can reach out to me at ddanelynn@gmail.com.
            </div>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Education</div>
        <div class="resume-block__content">
            <app-plane class="plane"></app-plane>
            <div class="resume-block__content__header">National University of Singapore</div>
            <div class="resume-block__content__role">Bachelor of Computer Science; Bachelor of Business Administration</div>
            <ul>
                <li class="resume-block__content__elaboration">University Scholars Programme</li>
                <li class="resume-block__content__elaboration">NUS Overseas College Israel</li>
                <ul>
                    <li class="resume-block__content__elaboration">Awarded full NUS Venture Initiation Programme grant of SGD 10K</li>
                </ul>
                <li class="resume-block__content__elaboration">NUS Soccer Female Team Vice-captain</li>
                <ul>
                    <li class="resume-block__content__elaboration">2019 Singapore University Games Women’s Football First Runner Up</li>
                </ul>
            </ul>
            
            <div class="resume-block__content__header">Raffles Institution</div>
            <div class="resume-block__content__role">GCE ‘A’ Level, 6 distinctions</div>
            <ul>
                <li class="resume-block__content__elaboration">Awarded Raffles Diploma</li>
            </ul>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Experience</div>
        <div class="resume-block__content">
            <app-star class="star"></app-star>
            <div class="resume-block__content__header">Google</div>
            <div class="resume-block__content__role">Software Engineer Intern, May 2022 - Aug 2022</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed integration plugin for two internal tools websites (Code review platform and automated testing platform) using Python for backend API and TypeScript for frontend configuration</li>
                <li class="resume-block__content__elaboration">Organised activities for interns as Intern Champion for Batch 2022 Taiwan remote interns</li>
            </ul>

            <div class="resume-block__content__header">Travrse</div>
            <div class="resume-block__content__role">Co-founder, Jul 2021 - present</div>
            <ul>
                <li class="resume-block__content__elaboration">Founded Travrse, a company that provides virtual travelling experiences with real life streaming services in VR headsets</li>
                <li class="resume-block__content__elaboration">Travrse promotes the idea of travelling anytime, anywhere; into the metaverse</li>
            </ul>
            
            <div class="resume-block__content__header">NodeFlair</div>
            <div class="resume-block__content__role">Software Engineer Intern, Aug 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed Reviews and Companies landing pages for NodeFlair App which involves search filters algorithm designs and page architecture design using ReactJs and Ruby on Rails</li>
                <li class="resume-block__content__elaboration">Developed banner feature using JavaScript cookies</li>
            </ul>

            <div class="resume-block__content__header">ByondXR</div>
            <div class="resume-block__content__role">Software Engineer Intern, Jul 2021 - Dec 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed web games for Lancôme Germany virtual flagship and Armani Virtual Store Experience in TypeScript, HTML and CSS</li>
                <li class="resume-block__content__elaboration">Developed virtual makeup tryon plugins for AR store experience for various makeup brands</li>
                <li class="resume-block__content__elaboration">Developed web games for Lancôme Germany virtual flagship in TypeScript, HTML and CSS</li>
            </ul>
        </div>
    </div>
    <div class="resume-block">
        <div class="resume-block__title">Projects</div>
        <div class="resume-block__content">
            <div class="resume-block__content__header">Secret Santa</div>
            <div class="resume-block__content__role">Hack and Roll, Jan 2022</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed a webapp that organizes Christmas and birthday events using MERN stack</li>
            </ul>

            <div class="resume-block__content__header">We Share Mobile App</div>
            <div class="resume-block__content__role">BrainHack Hackathon, Jun 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed a workspace sharing mobile app We Share that targets companies with excessive office space due to work from home new norm and individuals who are looking for spaces for work or discussion using React-Native and Firebase</li>
                <li class="resume-block__content__elaboration">Brainstormed and presented a solution for challenges in adapting to the post-covid new norm</li>
            </ul>
            
            <div class="resume-block__content__header">SOChedule</div>
            <div class="resume-block__content__role">NUS Module CS2103, Jan 2021 - May 2021</div>
            <ul>
                <li class="resume-block__content__elaboration">Developed a customised schedule for adding tasks and events targeting students that helps users with task and time management</li>
                <li class="resume-block__content__elaboration">Applied and learned knowledge in Java and JavaFX</li>
            </ul>

            <div class="resume-block__content__header">Posetography</div>
            <div class="resume-block__content__role">NUS Orbital, May 2020 - Aug 2020</div>
            <ul>
                <li class="resume-block__content__elaboration">Designed and developed a photography related IOS App Posetography that has on-the-spot photo frames embedded in the camera preview as a team leader</li>
                <li class="resume-block__content__elaboration">Applied and learned knowledge in Xcode, Swift and Firebase</li>
                <li class="resume-block__content__elaboration">Awarded Apollo 11 Level of Achievement in the Orbital programme</li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <div class="tech-tools">
        <div class="tech-tools__title">Tech Tools</div>
        <div class="tech-tools__content">
            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">Java</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/java.png" alt="java"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">Python</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/python.png" alt="python"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">JavaScript</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/javascript.png" alt="javascript"/>
                    </div>
                </div>
            </div>


            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">TypesScript</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/typescript.png" alt="typescript"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">C++</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/c++.png" alt="c++"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">React</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/react.png" alt="react"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">Angular</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/angular.png" alt="angular"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">HTML</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/html.png" alt="html"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">CSS</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/css.png" alt="css"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">Firebase</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/firebase.png" alt="firebase"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">Xcode</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/xcode.png" alt="xcode"/>
                    </div>
                </div>
            </div>

            <div class="flip-box">
                <div class="tech-tools-stack">
                    <div class="language-tag">MongoDB</div>
                    <div class="language-tag-back">
                        <img class="language-icon" src="../assets/mongodb.png" alt="mongodb"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
